
h1 {
    text-align: center;
}

.container {
    margin: 1em;
}

.main,
.map {

}

.main {
    width: 40%;
    float: left;
}

.map {
    width: 60%;
    float: right;
}

#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 40%;
  }

#main {
    width: 40%;
    float: left;
    text-align: center;

}

#map {
    width: 60%;
    float: left;
}

/*KUVAT*/
.covidmask {
    display: block;
    margin-left: 0;
    margin-right: auto;
    width: 50%;
 }

 .ohje {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 }
/*#overlay {
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:33%;
    background:rgba(255,255,255,0.7)
}
*/